<main>
  <div (click)="goBack()" class="back-btn">
    <img src="assets/svg/backArrow.svg" alt="" />
    <div>назад</div>
  </div>
  <div class="job-info">
    <ng-container *ngIf="!isLoadingJobInfo; else loadingJobInfo">
      <div class="left-side">
        <div class="field">
          <div>{{ job.field }}</div>
        </div>
        <h1>{{ job.name }}</h1>
        <p>
          {{ job.description }}
        </p>
        <p class="skills">Навыки, которые вы получите:</p>
        <ul class="skill-list">
          <li *ngFor="let skill of job.skills">{{ skill }}</li>
        </ul>
      </div>
      <div class="job-background">
        <img src="assets/job-background.png" alt="" />
      </div>
      <a class="job-hhru"> Вакансии hh.ru </a>
    </ng-container>
    <ng-template #loadingJobInfo>
      <mat-spinner></mat-spinner>
    </ng-template>
  </div>
  <div class="main-block">
    <div class="filter">
      <div class="filter__title">
        <h3>Фильтр</h3>
        <img src="assets/svg/filter.svg" alt="" />
      </div>
      <div class="filter__group" [ngClass]="{ active: isOpenDirections }">
        <div (click)="openDirections()" class="filter__group__name">
          Факультеты
        </div>
        <div
          class="filter__group__items"
          [ngClass]="{ active: isOpenDirections }"
        >
          <div>
            <input
              type="checkbox"
              class="custom-checkbox"
              id="d1"
              name="directions"
              value="1"
            />
            <label for="d1">C++</label>
          </div>
          <div>
            <input
              type="checkbox"
              class="custom-checkbox"
              id="d2"
              name="directions"
              value="2"
            />
            <label for="d2">Python</label>
          </div>
          <div>
            <input
              type="checkbox"
              class="custom-checkbox"
              id="d3"
              name="directions"
              value="3"
            />
            <label for="d3">Java</label>
          </div>
          <div>
            <input
              type="checkbox"
              class="custom-checkbox"
              id="d4"
              name="directions"
              value="4"
            />
            <label for="d4">Базы данных</label>
          </div>
          <div>
            <input
              type="checkbox"
              class="custom-checkbox"
              id="d5"
              name="directions"
              value="5"
            />
            <label for="d5">Создание сайтов</label>
          </div>
          <div>
            <input
              type="checkbox"
              class="custom-checkbox"
              id="d6"
              name="directions"
              value="6"
            />
            <label for="d6">Философия</label>
          </div>
          <div>
            <input
              type="checkbox"
              class="custom-checkbox"
              id="d7"
              name="directions"
              value="7"
            />
            <label for="d7">Математика</label>
          </div>
          <div>
            <input
              type="checkbox"
              class="custom-checkbox"
              id="d8"
              name="directions"
              value="8"
            />
            <label for="d8">Абаба</label>
          </div>
          <div>
            <input
              type="checkbox"
              class="custom-checkbox"
              id="d9"
              name="directions"
              value="9"
            />
            <label for="d9">Алолол</label>
          </div>
        </div>
      </div>
    </div>
    <div class="list">
      <ng-container *ngIf="!isLoadingDirs; else loading">
        <h2 *ngIf="searchField === ''; else search">
          Направления ОмГТУ ({{ totalDocs }})
        </h2>
        <ng-template #search
          ><h2>Поиск по запросу "{{ searchField }}"</h2></ng-template
        >
        <div class="list__items">
          <direction-item
            *ngFor="
              let dir of directions
                | filterSearch : searchField : filterMetadata
            "
            [direction]="dir"
          ></direction-item>
          <button
            mat-stroked-button
            *ngIf="hasNextPage && searchField === ''"
            (click)="loadMore()"
            mat-button
            class="show-more-btn"
          >
            Показать еще {{ totalDocs - directions.length }}
          </button>
          <p *ngIf="searchField !== '' && filterMetadata.count === 0">
            По вашему запросу ничего не найдено
          </p>
          <mat-spinner *ngIf="isLoadingMore"></mat-spinner>
        </div>
      </ng-container>
      <ng-template #loading>
        <mat-spinner></mat-spinner>
      </ng-template>
    </div>
  </div>
</main>
