<main>
  <div (click)="goBack()" class="back-btn">
    <img src="assets/svg/backArrow.svg" alt="" />
    <div>назад</div>
  </div>
  <div class="job-info">
    <ng-container *ngIf="!isJobLoading; else loadingJobInfo">
      <div class="left-side">
        <div class="field">
          <div>{{ job.field }}</div>
        </div>
        <h1>{{ job.name }}</h1>
        <p>
          {{ job.description }}
        </p>
        <p class="skills">Навыки профессии:</p>
        <ul class="skill-list">
          <li *ngFor="let skill of job.skills">{{ skill }}</li>
        </ul>
      </div>
      <div class="job-background">
        <img src="assets/job-background.png" alt="" />
      </div>
      <a class="job-hhru"> Вакансии hh.ru </a>
    </ng-container>
    <ng-template #loadingJobInfo>
      <mat-spinner></mat-spinner>
    </ng-template>
  </div>
  <div class="main-block">
    <div class="filter">
      <div class="filter__title">
        <h3>Фильтры</h3>
        <img src="assets/svg/filter.svg" alt="" />
      </div>
      <div class="dropdown__block">
        <div
          (click)="facultiesDropdown = !facultiesDropdown"
          class="dropdown__name"
          [ngClass]="{ active: facultiesDropdown }"
        >
          Факультеты
        </div>
        <form
          class="dropdown__container"
          *ngIf="facultiesDropdown"
          [formGroup]="facultiesGroup"
        >
          <div class="show-all">
            <input
              type="checkbox"
              class="custom-checkbox"
              [id]="'allFaculties'"
              formControlName="selectAllFaculties"
            />
            <label [for]="'allFaculties'">Показать все</label>
          </div>
          <div
            *ngFor="let faculty of faculties; let i = index"
            formArrayName="faculties"
          >
            <input
              type="checkbox"
              class="custom-checkbox"
              [id]="'faculty' + i"
              [formControlName]="i"
              [value]="faculty"
            />
            <label [for]="'faculty' + i">{{ faculty }}</label>
          </div>
        </form>
      </div>
      <div class="tools">
        <button mat-button class="submit submit__cancel" (click)="cancel()">
          Очистить
        </button>
        <button mat-button class="submit submit__send" (click)="submit()">
          Применить
        </button>
      </div>
    </div>
    <div class="list">
      <ng-container *ngIf="!isDirectionsLoading; else loading">
        <h2>Направления ОмГТУ ({{ totalDocs }})</h2>
        <div class="list__items">
          <direction-item
            *ngFor="let dir of directions"
            [direction]="dir"
          ></direction-item>
          <button
            mat-stroked-button
            *ngIf="hasNextPage"
            (click)="loadMoreDirections()"
            mat-button
            class="show-more-btn"
          >
            Показать еще {{ totalDocs - directions.length }}
          </button>
          <p *ngIf="totalDocs === 0">Ничего не найдено</p>
          <mat-spinner *ngIf="isMoreDirectionsLoading"></mat-spinner>
        </div>
      </ng-container>
      <ng-template #loading>
        <mat-spinner></mat-spinner>
      </ng-template>
    </div>
  </div>
</main>
