<nav class="header container">
  <div class="logo" (click)="goToHome()">
    Атлас <br />
    профессий <br />
    ОмГТУ
  </div>
  <form class="search-bar">
    <img class="search-icon" src="assets/svg/search.svg" alt="" />
    <input
      autocomplete="off"
      type="text"
      placeholder="Профессия, направление"
      name="search"
      [(ngModel)]="searchText"
      (ngModelChange)="searchTextChange()"
      (focus)="focus = true"
    />
    <div (click)="clearSearch()" *ngIf="searchText !== ''" class="clear-search">
      <img src="assets/svg/cross.svg" alt="" />
    </div>
    <button type="submit" class="btn-search" (click)="search()">Найти</button>
    <ul
      #list
      class="search-variants"
      *ngIf="searchText !== '' && data?.length != 0 && focus"
    >
      <li *ngFor="let item of data" class="variant" (click)="search(item)">
        {{ item }}
      </li>
    </ul>
  </form>
</nav>
