@import "../../../vars.scss";

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: {
    top: 1.2rem;
  }
}

.logo {
  font-size: 25px;
  cursor: pointer;
}

.search-bar {
  background-color: $box-bg;
  border: 1px solid $main-text;
  width: 100%;
  width: 790px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-radius: 50px;
  padding: 5px 5px;
  position: relative;

  .search-icon {
    padding-left: 10px;
  }

  input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
    color: $main-text;
    font-family: "Montserrat", sans-serif;
  }

  .btn-search {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
  }
}

.clear-search {
  display: flex;
  align-items: center;
  height: 40px;

  cursor: pointer;
  img {
    margin-right: 10px;
    height: 18px;
    width: 18px;
  }
  border-right: 1px solid black;
}

.search-variants {
  position: absolute;
  top: 61px;
  width: 670px;
  max-height: 205px;
  overflow-y: auto;
  padding: 10px 0;
  left: 0;
  list-style: none;
  background-color: white;
  border: 1px solid #000000;
  border-radius: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;

  .variant {
    padding: 10px 20px;
  }

  .variant:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgba(0, 123, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
