<mat-expansion-panel>
  <mat-expansion-panel-header class="disable_ripple">
    <mat-panel-title class="title">
      <p>Код направления {{ direction.code }}</p>
      <h3>{{ direction.name }}</h3>
      <div class="profile"><b>Профиль:</b> {{ direction.profile }}</div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="item-content">
    <div class="type">{{ direction.level }}</div>
    <div class="description">
      {{ direction.description }}
    </div>
    <div class="buttons">
      <button mat-button class="plan" (click)="goToTrajectory()">
        План обучения
      </button>
      <div class="socials">
        <img src="assets/svg/vk.svg" alt="" />
        <img src="assets/svg/telegram.svg" alt="" />
      </div>
      <button mat-button class="more-info-btn">Поступить</button>
    </div>
  </div>
</mat-expansion-panel>
