<main class="content">
  <div class="field-title">
    <h1>Получи профессию вместе с <span>ОмГТУ</span></h1>
    <p>Помогаем найти себя и качественно обучаем востребованным профессиям</p>
  </div>
  <div class="field">
    <p>Выбери <br />интересную для себя сферу деятельности</p>
    <div class="line"></div>
    <form [formGroup]="fieldsGroup" class="field-group">
      <div *ngFor="let field of fields; let i = index" class="field-item">
        <input
          [id]="'field' + i"
          type="radio"
          [value]="field"
          formControlName="field"
        />
        <label [for]="'field' + i">{{ field }}</label>
      </div>
    </form>
  </div>
  <div class="main-block">
    <div class="filter">
      <div class="filter__title">
        <h3>Фильтры</h3>
        <img src="assets/svg/filter.svg" alt="" />
      </div>
      <div class="dropdown__block">
        <div
          (click)="skillsDropdown = !skillsDropdown"
          class="dropdown__name"
          [ngClass]="{ active: skillsDropdown }"
        >
          Навыки
        </div>
        <form
          class="dropdown__container"
          *ngIf="skillsDropdown"
          [formGroup]="skillsGroup"
        >
          <div class="show-all">
            <input
              type="checkbox"
              class="custom-checkbox"
              [id]="'allSkills'"
              formControlName="selectAllSkills"
            />
            <label [for]="'allSkills'">Показать все</label>
          </div>
          <div
            *ngFor="let skill of skills; let i = index"
            formArrayName="skills"
          >
            <input
              type="checkbox"
              class="custom-checkbox"
              [id]="'skill' + i"
              [formControlName]="i"
              [value]="skill"
            />
            <label [for]="'skill' + i">{{ skill }}</label>
          </div>
        </form>
      </div>
      <div class="tools">
        <button mat-button class="submit submit__cancel" (click)="cancel()">
          Очистить
        </button>
        <button mat-button class="submit submit__send" (click)="submit()">
          Применить
        </button>
      </div>
    </div>
    <div class="list">
      <ng-container *ngIf="!isJobsLoading; else loading">
        <ng-container>
          <h2>{{ field }} ({{ totalDocs }})</h2>
          <div class="list__items">
            <job-item *ngFor="let job of jobs" [job]="job"></job-item>
            <button
              *ngIf="hasNextPage"
              (click)="loadMoreJobs()"
              mat-button
              class="show-more-btn"
            >
              Показать еще {{ totalDocs - jobs.length }}
            </button>
            <p *ngIf="totalDocs === 0">Ничего не найдено</p>
            <mat-spinner *ngIf="isLoadingMoreJobs"></mat-spinner>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #loading>
        <mat-spinner></mat-spinner>
      </ng-template>
    </div>
  </div>
</main>
