@import "../../../vars.scss";

.content {
  margin-top: 4rem;
  min-height: 100vh;
  padding-bottom: 8rem;
}

.field-title {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 40px;
    span {
      color: $accent-text;
    }
  }
  p {
    padding-top: 10px;
    color: $sub-text;
    font-size: 20px;
  }
}

.field {
  margin: {
    top: 3rem;
  }
  display: flex;
  align-items: center;
  height: 160px;
  gap: 3rem;

  p {
    font-size: 20px;
    line-height: 30px;
  }

  .line {
    border-left: 1px solid $sub-text;
    height: 100%;
  }
}

.field-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.field-item {
  display: inline-block;
  font-size: 18px;

  input[type="radio"] {
    display: none;
  }

  label {
    display: inline-block;
    cursor: pointer;
    padding: 5px 15px;
    line-height: 34px;
    border: 1px solid $main-text;
    background-color: $box-bg;
    border-radius: 50px;
    user-select: none;
  }
}

/* Checked */
.field-item input[type="radio"]:checked + label {
  background: $ui-color;
  color: white;
  border: 1px solid $box-bg;
}

/* Hover */
.field-item label:hover {
  color: #666;
}

.main-block {
  margin-top: 3rem;
  border-top: 1px solid $main-text;
  padding-top: 3rem;
  display: flex;
  gap: 3rem;
}

.filter__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  h3 {
    font-size: 25px;
  }
}

.dropdown {
  &__block {
    width: 260px;
    margin-top: 1rem;
    background-color: #fff;
  }

  &__name {
    position: relative;
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }

  &__name::before {
    content: "";
    position: absolute;
    right: 20px;
    top: 18px;
    z-index: 1000;
    width: 8px;
    height: 8px;
    border: 2px solid $ui-color;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.2s;
    pointer-events: none;
  }

  &__name.active::before {
    transform: rotate(-225deg);
    top: 25px;
  }

  &__container {
    max-height: 320px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    overflow-y: auto;
    font-size: 18px;

    .item {
      height: 22px;
      position: relative;
      display: flex;
      align-items: center;
    }
  }
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.8rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
  border-color: $ui-color;
  background-color: $ui-color;
  background-image: url("../../../assets/svg/checked.svg");
}

.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: $pale_turquoise;
}

.custom-checkbox:not(:disabled):active + label::before {
  background-color: $pale_turquoise;
  border-color: $pale_turquoise;
}

.custom-checkbox:disabled + label::before {
  background-color: $box-bg;
}

.list {
  flex-grow: 1;
  h2 {
    font-size: 35px;
  }
}

.list__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
  width: 100%;
}

.show-more-btn {
  border: 1px solid black;
  margin-top: 1rem;
  width: fit-content;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  cursor: pointer;
  z-index: 100;
  padding: 10px 20px;
  border-radius: 50px;
}

.dropdown-container {
  width: 260px;
  display: flex;
  align-items: center;
}

.show-all {
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 13px;
}

.tools {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.submit {
  border-radius: 50px;
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;

  &__cancel {
    border: 1px solid black;
  }
  &__send {
    background-color: #007bff;
    color: white !important;
  }
}
