<main class="content">
  <div class="field-title">
    <h1>Получи профессию вместе с <span>ОмГТУ</span></h1>
    <p>Помогаем найти себя и качественно обучаем востребованным профессиям</p>
  </div>
  <div class="field" *ngIf="searchField == ''">
    <p>Выбери <br />интересную для себя сферу деятельности</p>
    <div class="line"></div>
    <form [formGroup]="fieldForm" class="field-group">
      <div *ngFor="let field of fields" class="field-item">
        <input
          [id]="'field' + field.id"
          type="radio"
          [value]="field.value"
          formControlName="field"
        />
        <label [for]="'field' + field.id">{{ field.value }}</label>
      </div>
    </form>
  </div>
  <div class="main-block">
    <div class="filter">
      <div class="filter__title">
        <h3>Фильтры</h3>
        <img src="assets/svg/filter.svg" alt="" />
      </div>
      <div class="dropdown__block">
        <div
          (click)="showDropdown = !showDropdown"
          class="dropdown__name"
          [ngClass]="{ active: showDropdown }"
        >
          Навыки
        </div>
        <form
          class="dropdown__container"
          *ngIf="showDropdown"
          [formGroup]="skillForm"
          (ngSubmit)="submit()"
        >
          <div class="show-all">
            <input
              type="checkbox"
              class="custom-checkbox"
              [id]="'all'"
              formControlName="selectAll"
            />
            <label [for]="'all'">Показать все</label>
          </div>
          <div
            formArrayName="skillOptions"
            *ngFor="let option of getControls(); let i = index"
          >
            <input
              type="checkbox"
              class="custom-checkbox"
              [id]="'option' + skillOptions[i].id"
              [formControlName]="i"
            />
            <label [for]="'option' + skillOptions[i].id">{{
              skillOptions[i].name
            }}</label>
          </div>
        </form>
      </div>
      <div class="tools">
        <button mat-button class="submit submit__cancel" (click)="cancel()">
          Очистить
        </button>
        <button mat-button class="submit submit__send" (click)="submit()">
          Применить
        </button>
      </div>
    </div>
    <div class="list">
      <ng-container *ngIf="!isLoading; else loading">
        <ng-container *ngIf="field && searchField === ''; else search">
          <h2>{{ field }} ({{ totalDocs }})</h2>
          <div class="list__items">
            <job-item
              *ngFor="
                let job of jobs | filterSearch : searchField : filterMetadata
              "
              [job]="job"
            ></job-item>
            <button
              *ngIf="hasNextPage && searchField === '' && !filter"
              (click)="loadMore()"
              mat-button
              class="show-more-btn"
            >
              Показать еще {{ totalDocs - jobs.length }}
            </button>
            <p
              *ngIf="
                (searchField !== '' && filterMetadata.count === 0) ||
                totalDocs === 0
              "
            >
              Ничего не найдено
            </p>
            <mat-spinner *ngIf="isLoadingMore"></mat-spinner>
          </div>
        </ng-container>
        <ng-template #search
          ><h2>Поиск по запросу "{{ searchField }}"</h2>
          <div class="list__items">
            <job-item
              *ngFor="
                let job of allJobs | filterSearch : searchField : filterMetadata
              "
              [job]="job"
            ></job-item>
            <p
              *ngIf="
                (searchField !== '' && filterMetadata.count === 0) ||
                totalDocs === 0
              "
            >
              Ничего не найдено
            </p>
          </div>
        </ng-template>
      </ng-container>
      <ng-template #loading>
        <mat-spinner></mat-spinner>
      </ng-template>
    </div>
  </div>
</main>
