// text colors
$main-text: #000000;
$accent-text: #007bff;
$sub-text: #666666;
$ui-color: #06c895;
$red: #ee1d24;

// background colors
$main-bg: #fafafa;
$box-bg: #ffffff;
$light_grey_2: #f8f8f8;
$light_grey_3: #f2f2f2;
$pale_turquoise: #d6f6ee;
