<mat-expansion-panel>
  <mat-expansion-panel-header class="disable_ripple">
    <mat-panel-title>
      {{ job.name }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="item-content">
    <div class="description">
      {{ job.description }}
    </div>
    <p>Навыки, которые вы получите:</p>
    <ul class="skill-list">
      <li *ngFor="let skill of job.skills">{{ skill }}</li>
    </ul>
    <button mat-stroked-button class="more-info-btn" (click)="goToJob()">
      Подробнее
    </button>
  </div>
</mat-expansion-panel>
